

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/boot-crm/layui/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/boot-crm/layui/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">关键字</label>
            <div class="layui-input-block">
              <input type="text" name="keyword" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">用户类型</label>
            <div class="layui-input-block">
              <select name="type">
                <option value="">请选择</option>
                <option value="0">系统管理员</option>
                <option value="1">系统用户</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">账号状态</label>
            <div class="layui-input-block">
              <select name="status">
                <option value="">请选择</option>
                <option value="0">正常</option>
                <option value="1">禁用</option>
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
        </div>
        
        <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
        <script type="text/html" id="table-useradmin-type">
		  {{d.type==0 ? '系统管理员':'系统用户'}}
		</script>
        <script type="text/html" id="table-useradmin-status">
		  <input type="checkbox" lay-filter="status" name="status" lay-skin="switch" rowid="{{d.id}}" username="{{d.username}}" value="{{d.status}}" lay-text="正常|禁用" {{d.type==0 ? 'disabled':''}} {{d.status==0 ? 'checked':''}}>
		</script>
        <script type="text/html" id="table-useradmin-webuser">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs {{d.type==0 ? 'layui-btn-disabled':''}}" lay-event="{{d.type==0 ? '':'del'}}" ><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script src="/boot-crm/layui/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '/boot-crm/layui/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;
    
    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      var field = data.field;
      //执行重载
      table.reload('LAY-user-manage', {
        where: field
        ,page: {
        	  curr:1
          }
      });
    });
  
    //监听状态切换
    form.on('switch(status)',function(data){
    	var status = data.elem.checked==true ? 0 : 1;
    	var userId = data.elem.getAttribute("rowid");
    	var username = data.elem.getAttribute("username");
    	var statusDes = status == 0 ? '启用' : '禁用';
    	$.ajax({
            url:'http://localhost:8080/boot-crm/user_manage/user/'+userId,
            data:{
            	status:status
            },
            dataType:'json',
            type:'put',
            success: function (data) {
                  if(data.status==0){
	                  //请求成功
                	  layer.msg('['+username+']已被'+statusDes);
                  }else{
                	  layer.msg('更改用户状态失败，请重试！',{
                		  offset: '15px'
                	      ,icon: 2
                	      ,time: 3000
                	  })
                  }
            },
            error: function(data) {
            	layer.msg('出错了！',{
          		  offset: '15px'
          	      ,icon: 2
          	      ,time: 3000
          	  })
            }
        })
    	
    });
    
    
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-manage')
        ,checkData = checkStatus.data; //得到选中的数据
        
        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
		// 获取选中记录的id
        var delCount = checkData.length;
        var ids = new Array(delCount);
        for(i = 0; i < delCount; i++){
        	ids[i] = checkData[i].id;
        }
        
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证口令'
        }, function(value, index){
          layer.close(index);
          
          layer.confirm('确定删除吗？', function(index) {
            
            //执行 Ajax 后重载
            $.ajax({
                type:'delete',
                url:'http://localhost:8080/boot-crm/user_manage/users',
                data:JSON.stringify(ids),
                contentType:'application/json',
                dataType:'json',
                traditional: true,
                success: function (data) {
                      if(data.status==0){
    	                  //请求成功
                    	  table.reload('LAY-user-manage');
                          layer.msg(data.msg);
                      }else{
                    	  table.reload('LAY-user-manage');
                    	  layer.msg(data.msg,{
                    		  offset: '15px'
                    	      ,icon: 2
                    	      ,time: 3000
                    	  })
                      }
                },
                error: function(data) {
                	layer.msg('出错了！',{
              		  offset: '15px'
              	      ,icon: 2
              	      ,time: 3000
              	  })
                }
            });
            
          });
        });
      }
      ,add: function(){
        layer.open({
          type: 2
          ,title: '添加用户'
          ,content: '/boot-crm/user_manage/userform_page'
          ,maxmin: true
          ,area: ['460px', '390px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-user-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，静态更新表格中的数据
              $.ajax({
            	  url:'http://localhost:8080/boot-crm/user_manage/user',
                  data:field,
                  dataType:'json',
                  type:'post',
                  success: function (data) {
                        if(data.status==0){
      	                  //请求成功
                      	  layer.msg(data.msg);
      	                  //刷新表格数据
                          table.reload('LAY-user-manage');
                          table.reload('LAY-user-front-submit'); //数据刷新
                          layer.close(index); //关闭弹层
                        }else{
                      	  layer.msg(data.msg,{
                      		  offset: '15px'
                      	      ,icon: 2
                      	      ,time: 3000
                      	  })
                        }
                  },
                  error: function(data) {
                  	layer.msg('出错了！',{
                		  offset: '15px'
                	      ,icon: 2
                	      ,time: 3000
                	  })
                  }
              });
              
            });  
            submit.trigger('click');
          }
        }); 
      }
    };
    
    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>
</html>
